mixin portfolio-card(image, location, title, icon, date, summary, projectname)
.card.p-3
  img.card-image-top.w-100(src=image, alt=location)
  .card-block
    .card-title
      span.fa-stack.fa-lg(style='z-index:2;')
        i.fa.fa-circle.fa-stack-2x.text-primary
        i.fa.{{.pres.icon.}}.fa-stack-1x.fa-inverse
      h5(style='display:inline-block;')=title
      br
      small
        i location, date
    p.card-text=summary
    a.btn.btn-primary.h6(href=projectname)
      i.fa.fa-folder-open-o
      | Slides
